/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 21.05% 92.55%;
    --foreground: 188.8 78.95% 18.63%;
    --card: 180 23.81% 95.88%;
    --card-foreground: 188.8 78.95% 18.63%;
    --popover: 180 23.81% 95.88%;
    --popover-foreground: 188.8 78.95% 18.63%;
    --primary: 183.97 91.89% 29.02%;
    --primary-foreground: 0 0% 100%;
    --secondary: 180 28.81% 88.43%;
    --secondary-foreground: 188.8 78.95% 18.63%;
    --muted: 180 19.23% 89.8%;
    --muted-foreground: 184 31.25% 37.65%;
    --accent: 184 38.46% 84.71%;
    --accent-foreground: 188.8 78.95% 18.63%;
    --destructive: 0 62.45% 51.96%;
    --destructive-foreground: 0 0% 100%;
    --border: 185.71 26.58% 84.51%;
    --input: 180 28.81% 88.43%;
    --ring: 183.97 91.89% 29.02%;
    --chart-1: 183.97 91.89% 29.02%;
    --chart-2: 183.53 69.39% 38.43%;
    --chart-3: 183.56 55.1% 48.04%;
    --chart-4: 183.72 53.55% 58.63%;
    --chart-5: 183.61 54.97% 70.39%;
    --sidebar: 186.32 34.55% 89.22%;
    --sidebar-foreground: 188.8 78.95% 18.63%;
    --sidebar-primary: 183.97 91.89% 29.02%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 184 38.46% 84.71%;
    --sidebar-accent-foreground: 188.8 78.95% 18.63%;
    --sidebar-border: 185.71 26.58% 84.51%;
    --sidebar-ring: 183.97 91.89% 29.02%;
    --font-sans: Geist Mono, monospace;
    --font-serif: Geist Mono, monospace;
    --font-mono: Geist Mono, monospace;
    --radius: 0rem;
    --shadow-2xs: 0px 0px 0px 1px hsl(185 70% 30% / 0);
    --shadow-xs: 0px 0px 0px 1px hsl(185 70% 30% / 0);
    --shadow-sm: 0px 0px 0px 1px hsl(185 70% 30% / 0),
      0px 1px 2px 0px hsl(185 70% 30% / 0);
    --shadow: 0px 0px 0px 1px hsl(185 70% 30% / 0),
      0px 1px 2px 0px hsl(185 70% 30% / 0);
    --shadow-md: 0px 0px 0px 1px hsl(185 70% 30% / 0),
      0px 2px 4px 0px hsl(185 70% 30% / 0);
    --shadow-lg: 0px 0px 0px 1px hsl(185 70% 30% / 0),
      0px 4px 6px 0px hsl(185 70% 30% / 0);
    --shadow-xl: 0px 0px 0px 1px hsl(185 70% 30% / 0),
      0px 8px 10px 0px hsl(185 70% 30% / 0);
    --shadow-2xl: 0px 0px 0px 1px hsl(185 70% 30% / 0);
    --tracking-normal: 0.05em;
    --spacing: 0.22rem;
  }

  .dark {
    --background: 196.36 52.38% 8.24%;
    --foreground: 180 77.11% 60.59%;
    --card: 192 51.02% 9.61%;
    --card-foreground: 180 77.11% 60.59%;
    --popover: 192 51.02% 9.61%;
    --popover-foreground: 180 77.11% 60.59%;
    --primary: 180 77.11% 60.59%;
    --primary-foreground: 196.36 52.38% 8.24%;
    --secondary: 191.43 58.88% 20.98%;
    --secondary-foreground: 180 77.11% 60.59%;
    --muted: 192.86 58.33% 14.12%;
    --muted-foreground: 180 50.68% 42.94%;
    --accent: 191.43 58.88% 20.98%;
    --accent-foreground: 180 77.11% 60.59%;
    --destructive: 0 78.9% 57.25%;
    --destructive-foreground: 0 0% 94.9%;
    --border: 191.43 58.88% 20.98%;
    --input: 191.43 58.88% 20.98%;
    --ring: 180 77.11% 60.59%;
    --chart-1: 180 77.11% 60.59%;
    --chart-2: 180 50.68% 42.94%;
    --chart-3: 180 50.82% 35.88%;
    --chart-4: 184.35 57.98% 23.33%;
    --chart-5: 185.22 62.16% 14.51%;
    --sidebar: 196.36 52.38% 8.24%;
    --sidebar-foreground: 180 77.11% 60.59%;
    --sidebar-primary: 180 77.11% 60.59%;
    --sidebar-primary-foreground: 196.36 52.38% 8.24%;
    --sidebar-accent: 191.43 58.88% 20.98%;
    --sidebar-accent-foreground: 180 77.11% 60.59%;
    --sidebar-border: 191.43 58.88% 20.98%;
    --sidebar-ring: 180 77.11% 60.59%;
    --font-sans: Geist Mono, monospace;
    --font-serif: Geist Mono, monospace;
    --font-mono: Geist Mono, monospace;
    --radius: 0rem;
    --shadow-2xs: 0px 0px 0px 1px hsl(180 70% 60% / 0);
    --shadow-xs: 0px 0px 0px 1px hsl(180 70% 60% / 0);
    --shadow-sm: 0px 0px 0px 1px hsl(180 70% 60% / 0),
      0px 1px 2px 0px hsl(180 70% 60% / 0);
    --shadow: 0px 0px 0px 1px hsl(180 70% 60% / 0),
      0px 1px 2px 0px hsl(180 70% 60% / 0);
    --shadow-md: 0px 0px 0px 1px hsl(180 70% 60% / 0),
      0px 2px 4px 0px hsl(180 70% 60% / 0);
    --shadow-lg: 0px 0px 0px 1px hsl(180 70% 60% / 0),
      0px 4px 6px 0px hsl(180 70% 60% / 0);
    --shadow-xl: 0px 0px 0px 1px hsl(180 70% 60% / 0),
      0px 8px 10px 0px hsl(180 70% 60% / 0);
    --shadow-2xl: 0px 0px 0px 1px hsl(180 70% 60% / 0);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Smooth scroll for the entire page */
html {
  scroll-behavior: smooth;
}

#app {
  overflow: hidden;
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  height: 8px; /* Set the height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    100,
    100,
    100,
    0.6
  ); /* Customize the color of the scrollbar thumb */
  border-radius: 10px; /* Make it rounded */
  border: 2px solid rgba(255, 255, 255, 0.5); /* Adds some padding-like effect */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8); /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background-color: rgba(
    240,
    240,
    240,
    0.3
  ); /* Customize the scrollbar track (the area the scrollbar moves in) */
  border-radius: 10px; /* Rounded edges */
}

/* Firefox */
* {
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: rgba(100, 100, 100, 0.6) rgba(240, 240, 240, 0.3); /* Thumb and track color */
}

/* Optional: Styling for overflow areas like divs with custom scrollbars */
.custom-scrollbar {
  overflow-y: auto; /* Enables vertical scrolling */
  max-height: 400px; /* Set a max height for the scrollable container */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.6);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(240, 240, 240, 0.3);
  border-radius: 10px;
}

* {
  font-family: "Geist Mono", sans-serif;
}

.leaflet-marker {
  width: 12px;
  height: 12px;
  background: #ff0000;
  border-radius: 50%;
  border: 2px solid var(--foreground);
}

.map-is-loading {
  z-index: -100 !important;
}

.leaflet-control-attribution {
  background-color: transparent !important;
  opacity: 0.5;
}

.leaflet-control-attribution a {
  color: white !important;
}

.leaflet-attribution-flag {
  display: none !important;
  opacity: 0;
}

.leaflet-draw-toolbar .leaflet-draw-edit-remove,
.leaflet-draw-toolbar .leaflet-draw-edit-edit {
  display: none;
}
